<div class="data-side">
    <h3>Shop Information</h3>
    <div class="space-lft-right">
  
      <div class="wrapform">
  
          <div class="card">
              <div>
                  <div class="modal-dialog">
                  <div class="modal-content">
                  <div class="modal-header">
                  <b>EDIT SHOP</b>
                  <!-- <button class="close" data-dismiss="modal">&times;</button> -->
                  </div>
                  <div class="modal-body">
                  <form #editShop="ngForm">
                      <div class="form-group">
                          <label for="name">Shop Name*</label>
                          <input type="text" name="name" id="name" class="form-control" placeholder="Shop Name" [(ngModel)]="shop.name"
                          #nameEle="ngModel" autofocus
                          required minlength="3">
                      <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">*
                          Please Enter Valid Shop Name</span>
                          </div>
                          
                          <div class="form-group">
                          <label for="email">Email Address*</label>
                          <input type="email" id="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="shop.email"
                          #emailEle="ngModel"
                          required minlength="9">
                      <span class='text-danger' *ngIf="emailEle.touched && emailEle.errors && emailEle.errors.required">*
                          Please Enter Valid Email Address</span>
                          </div>
        
                          <div class="form-group">
                              <label for="contact_no">Phone Number*</label>
                              <input type="text"  name="contact_no" id="contact_no" class="form-control" placeholder="Phone Number" [(ngModel)]="shop.contact_no"
                              #phoneEle="ngModel"
                              required minlength="10">
                          <span class='text-danger' *ngIf="phoneEle.touched && phoneEle.errors && phoneEle.errors.required">*
                              Please Enter Valid Phone Number</span>
                              </div>
        
                          <div class="form-group">
                              <label for="description">Description*</label>
                              <input type="text"  name="description" id="description" class="form-control" placeholder="Description" [(ngModel)]="shop.description"
                              #descEle="ngModel"
                              required minlength="5">
                          <span class='text-danger' *ngIf="descEle.touched && descEle.errors && descEle.errors.required">*
                              Please Enter Valid Description</span>
                              </div>
        
                              <div class="form-group">
                              <label for="shopkeeper_name">Shopkeeper Name*</label>
                          <input type="text" name="shopkeeper_name" id="shopkeeper_name" class="form-control" placeholder="Shopkeeper Name" [(ngModel)]="shop.shopkeeper_name"
                          #shopkeeper_nameEle="ngModel"
                          required minlength="3">
                      <span class='text-danger' *ngIf="shopkeeper_nameEle.touched && shopkeeper_nameEle.errors && shopkeeper_nameEle.errors.required">*
                          Please Enter Valid Name</span>
                          </div>
        
                              <div class="form-group">
                                  <label for="pancard_no">Pancard Number*</label>
                                  <input type="text" id="pancard_no" name="pancard_no" class="form-control" placeholder="Pancard Number" [(ngModel)]="shop.pancard_no"
                                  #pancard_noEle="ngModel" required minlength="7">
                                  <span class='text-danger' *ngIf="pancard_noEle.touched && pancard_noEle.errors && pancard_noEle.errors.required">*
                                      Please Enter Valid Pancard Number</span>
                                  </div>
        
                                  <div class="form-group">
                                      <label for="shopkeeper_no">Personal Number*</label>
                                      <input type="text"  name="shopkeeper_no" id="shopkeeper_no" class="form-control" placeholder="Personal Number" [(ngModel)]="shop.shopkeeper_no"
                                      #shopkeeper_noEle="ngModel"
                                      required minlength="10">
                                  <span class='text-danger' *ngIf="shopkeeper_noEle.touched && shopkeeper_noEle.errors && shopkeeper_noEle.errors.required">*
                                      Please Enter Valid Phone Number</span>
                                      </div>
                                  <div class="form-group">
                                      <label for="open_time">Open Time*</label>
                                      <input type="time"  name="open_time" id="open_time" class="form-control" placeholder="Open Time" [(ngModel)]="shop.open_time"
                                      #open_timeEle="ngModel"
                                      required>
                                  <span class='text-danger' *ngIf="open_timeEle.touched && open_timeEle.errors && open_timeEle.errors.required">*
                                      Please Enter Valid Open Time</span>
                                      </div>
                                  <div class="form-group">
                                      <label for="close_time">Close Time*</label>
                                      <input type="time"  name="close_time" id="close_time" class="form-control" placeholder="Close Time" [(ngModel)]="shop.close_time"
                                      #close_timeEle="ngModel"
                                      required>
                                  <span class='text-danger' *ngIf="close_timeEle.touched && close_timeEle.errors && close_timeEle.errors.required">*
                                      Please Enter Valid Close Time</span>
                                      </div>

                                      <div class="form-group" *ngIf="documents">
                                        <label>Documents</label><br>
                                        <img src="http://{{image}}" *ngFor="let image of shop.shopManagementPic;" style="width: 100px; padding:20px;"><br>
                                        <small>*If you want to change any document, you have to upload all again.</small>    
                                    </div>
                                        
                                  <div>
                                    <div class="form-group">
                                        <label for="shopLogo">Shop Logo</label>
                                        <div *ngIf="doc_64textString"><br>
                                        <img [src]="doc_64textString" style=width:100px;><br>
                                      </div>
                                       
                                        <input type="file" name="shopLogo" title="Shop Logo" id="shopLogo" class="form-control" placeholder="Shop Logo" (change)="logo($event.target.files)"><small class="small">Upload a .jpg, .gif or .png. This will be displayed in 165 x 165 on your store.</small>
                                        </div>
                                    <div class="form-group">
                                        <label for="gstCertificate">GST Certificate</label>
                                        <div *ngIf="doc_64textString1"><br>
                                          <img [src]="doc_64textString1" style=width:100px;><br>
                                        </div>
                                        
                                        <input type="file" name="gstCertificate" title="Shop Logo" id="gstCertificate" class="form-control" placeholder="GST Certificate" (change)="gst($event.target.files)">
                                        </div>
                                    <div class="form-group">
                                        <label for="cancelCheck">Cancel Check</label>
                                        <div *ngIf="doc_64textString2"><br>
                                          <img [src]="doc_64textString2" style=width:100px;><br>
                                        </div>
                                        
                                        <input type="file" name="cancelCheck" title="Cancel Check" id="cancelCheck" class="form-control" placeholder="Cancel Check" (change)="check($event.target.files)">
                                        </div>
                                    <div class="form-group">
                                        <label for="pancard">Pancard*</label>
                                        <div *ngIf="doc_64textString3"><br>
                                          <img [src]="doc_64textString3" style=width:100px;><br>
                                        </div>
                                        
                                        <input type="file" name="pancard" title="Pancard" id="pancard" class="form-control" (change)="pancard($event.target.files)" #pancardEle
                                        required>
                                    <span class='text-danger' *ngIf="pancardEle.touched && pancardEle.errors && pancardEle.errors.required">*
                                        Please Upload Scanned Pancard</span>
                                        </div>
                                    <div class="form-group">
                                        <label for="shopCertificate">Shop Certificate</label>
                                        <div *ngIf="doc_64textString4"><br>
                                          <img [src]="doc_64textString4" style=width:100px;><br>
                                        </div>
                                        
                                        <input type="file" name="shopCertificate" title="Shop Certificate" id="shopCertificate" class="form-control" placeholder="Shop Certificate" (change)="certificate($event.target.files)">
                                        </div>
                                  </div>
                                     
        
                              <div class="form-group">
        <label for="banner">Banner</label>
        <input type="text" id="banner" name="banner" class="form-control" placeholder="Banner" [(ngModel)]="shop.banner"
        #bannerEle="ngModel">
        </div>
                              <div class="form-group">
        <label for="status">Status</label>
      
<td>
    <table class="smalltable">
      <tbody>
        <tr>
          <td><input type="radio" name="shop_vendor_display_status" value="OFF" title="Display Status" (change)="selectShopStatus($event.target.value)"> OFF</td>
          <td><input type="radio" name="shop_vendor_display_status" value="ON" title="Display Status" checked="" (change)="selectShopStatus($event.target.value)"> ON</td>
        </tr>
      </tbody>
    </table>
    <small>Keep it "Off" to hide your shop &amp; products listing from display of the site.</small>
  </td>
        </div>
                              <div class="form-group">
        <label for="address">Address*</label>
        <textarea id="address" name="address" class="form-control" placeholder="Address" [(ngModel)]="shop.address"
        #addressEle="ngModel"></textarea>
        </div>
        <div class="form-group">
            <label for="country">Country*</label>
            <input type="text" id="country" name="country" class="form-control" placeholder="Country" [(ngModel)]="shop.country"
            #countryEle="ngModel">
            </div>
            <div class="form-group">
                <label for="state">State*</label>
                <input type="text" id="state" name="state" class="form-control" placeholder="State" [(ngModel)]="shop.state"
                #stateEle="ngModel">
                </div>
                <div class="form-group">
                    <label for="city">City*</label>
                    <input type="text" id="city" name="city" class="form-control" placeholder="City" [(ngModel)]="shop.city"
                    #cityEle="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="postal_code">Zip Code*</label>
                        <input type="text" id="postal_code" name="postal_code" class="form-control" placeholder="Zip Code" [(ngModel)]="shop.postal_code"
                        #postal_codeEle="ngModel">
                        </div>
                    <div class="form-group">
                        <label for="license_no">License Number</label>
                        <input type="text" id="license_no" name="license_no" class="form-control" placeholder="License Number" [(ngModel)]="shop.license_no"
                        #license_noEle="ngModel">
                        </div>
                    <div class="form-group">
                        <label for="gst_no">GST Number</label>
                        <input type="text" id="gst_no" name="gst_no" class="form-control" placeholder="GST Number" [(ngModel)]="shop.gst_no"
                        #gst_noEle="ngModel">
                        </div>
                    
                  <div class="form-group">
                  <input type="submit" id="editshop" name="editshop" [disabled]="!editShop.form.valid" (click)="doEditShop()" class="btn btn-primary btn-block">
                  </div>
                  </form>								
                </div>
                 
                  </div>
                  </div>
                  </div>
            </div>
            
          </div>
        </div>
      </div> 
