<div class="tabz-content">
    <h3 class="h3Heading">
        Your Product sales </h3>
    <div class="space-lft-right">
        <div class="orders-list row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
                <div class="items"><a><span class="txt-big">&#x20B9;{{ analytics?.Completed.amount | number :
                    '.2-2'}}</span>
                        <p>Total Sales</p>
                    </a> </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
                <div class="items">
                    <a><span class="txt-big">&#x20B9;{{ analytics?.Completed.amount | number :
                        '.2-2' }} </span>
                        <p>Account Balance</p></a>
                </div>
            </div>
            <a routerLink="/dashboard/orders">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
                    <div class="items">
                        <span class="txt-big">{{ analytics?.Completed.count + analytics?.Pending.count + analytics?.Cancelled.count }}</span>
                            <p>Total Orders</p>

                    </div>
                </div>
            </a>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                <div class="items">
                    <a><span class="txt-big">{{ analytics?.Completed.count }}</span>
                        <p>Total Sold Qty</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
    
    <div class="tbl-dashboard">
        <div class="tbl-left">
            <div style="height:500px;width:600px;">
                <canvas baseChart
                          [datasets]="chartData"
                          [labels]="chartLabels"
                          [chartType]="chartType"
                          [options]="chartOptions"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                </div>
        </div>
        <div class="tbl-right">
            <div class="total-stat">
                <div class="small-box">
                    <div class="caption">
                        Total Products </div>
                    <div class="count">
                        {{analytics?.Products.count}} </div>
                </div>
                <div class="small-box">
                    <div class="caption">
                        Sold <br> Quantity </div>
                    <div class="count">
                        {{analytics?.Completed.count}} </div>
                </div>
                <div class="total-earning">
                    <div class="count"><i class="svg-icn">
                        </i> <br>&#x20B9;{{ analytics?.Completed.amount | number :
                    '.2-2'}} </div>
                    <p><strong>Account Balance</strong></p>
                </div>
                <a href="javascript:void(0);" class="btn primary-btn">
                    Withdraw Money </a>
                <a [routerLink]="['/dashboard/add-product']" class="btn secondary-btn">
                    Add Product in Shop </a>
            </div>
        </div>
    </div>


    <div class="tbl-dashboard">
        <div class="tbl-left">
            <div class="box-head">
                <h3 class="leftHeading">
                    Latest Orders </h3>
                <div class="btn-view">
                    <a routerLink="/dashboard/orders" class="view-more">
                        View All </a>
                    <img src="../assets/img/products/arrow-right.svg" class="viewAllImg" routerLink="/dashboard/orders">
                </div>
            </div>
            <div class="data-side">
            <div class="space-lft-right ">
                    <div class="wrapform" style="text-align:center;" *ngIf="!latest">
                      <img src="./assets/img/product.png" style="width: 100px;" />
                
                      <h5>You haven't recieved any order yet!</h5>
                      <br />
                    </div>
                    <div class="latest-box-element" *ngIf="latestOrders && latestOrders.length > 0">
                    <div class="table-responsive">
                        <table class="table-striped table">
                            <tbody>
                                <tr *ngFor="let order of latestOrders">
                                    <td class="latest-box-image"><img src="{{ environment.serverurl }}{{ order.products[0].product_id.mainImage }}"></td>
                                   
                                            <td>
                                                    <div class="product-name">
                                                        <a href="">
                                                            {{ order.products[0].product_id.name }} 
                                                        </a>    
                                                    </div>
                                                    <div class="product-desc">
                                                        <ul>
                                                            <li><strong>Order Id :</strong>  {{order._id}}
                                                            </li>
                                                            <li><strong>Color</strong> <span
                                                                style="width: 80px;display: inline-block; margin: 0 10px;" [ngStyle]="{'background-color':order.products[0].color}">&nbsp;</span>  </li>
                                                            <li><strong>Delivery Address  :</strong>
                                                                {{order.contact_name}}<br>
                   {{order.address}}, {{order.city}}- {{order.pincode}}, {{order.state}}, {{order.country}}<br>
                   
                                                            </li>
                                                            <li><strong>Quantity</strong>  {{ order.products[0].quantity }} </li>
                                                            <li><strong>Size</strong> {{ order.products[0].size }} </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                    <td class="latest-box-price">
                                                            <div class="price">
                                                                &#x20B9;{{order.total_amount}}</div>
                                                                <div class="view-btn">
                                                                <a class="btn btn-info" title="View Product" [routerLink]="['/dashboard/order',order._id]">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                    <!-- <a  class="btn btn-danger" title="Delete Product">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a> -->
                                                                </div>
                                                        </td>
                                        
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <!-- <div class="panel panel-default" *ngIf="latestOrders && latestOrders.length > 0">
                    
                  <div class="panel-body" *ngFor="let order of latestOrders">
                   <strong> Order Id : </strong>{{order._id}}<br>
                   <strong>{{order.status}}</strong><br>
                   <strong> Delivery Address : </strong>{{order.contact_name}}<br>
                   {{order.address}}, {{order.city}}- {{order.pincode}}, {{order.state}}, {{order.country}}<br>
                   <strong> Total : </strong>&#x20B9;{{order.total_amount}}
                   <th>
                    <a [routerLink]="['/dashboard/order',order._id]" class='btn btn-info btn-square-icon' title="View Order"><i
                        class='fa fa-eye'></i></a>
                    
                  </th>
                    <div class="clearfix"></div>
                    <br>
                    <div class="table-responsive">
                      <div class="bs-component">
                        <table class="table btn-gradient-grey">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Image</th>
                              <th>Color</th>
                              <th>Quantity</th>
                              <th>Size</th>
                              <th>Unit Price</th>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let product of order.products; let i =  index">
                              <th>{{ i+1 }}</th>
                              <th>{{ product.product_id.name }}</th>
                              <th><img src="http://{{ product.product_id.mainImage }}" style="max-height:100px"></th>
                             
                              <th><span
                                style="width: 80px;display: inline-block; margin: 0 10px;" [ngStyle]="{'background-color':product.color}">&nbsp;</span></th>
                              <th>{{ product.quantity }}</th>
                              <th>{{ product.size }}</th>
                              <th>&#x20B9;{{ product.product_id.dprice }}</th>
                              
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div> -->
                </div>
            </div>
        </div>
        <div class="tbl-right">
            <h3 class="latestmsgHeading">
                Latest Messages </h3>
                <div *ngIf="!showMsg" class="alert alert-primary noMsg">
                    No Buyer Contacted You Yet!
                  </div>
            <div class="message-list" *ngIf="showMsg">

                <ul *ngFor="let message of latestMessages">
                    <li *ngIf="message.sender == 'seller'"
                    style="color:#d1c9ca">
                        
                        <div class="pic" *ngIf="message._id.image">
                            <img class="img" alt="" src="{{ message._id.image }}">
                        </div>
                        <div class="pic" *ngIf="!message._id.image">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                {{ message._id.name }} </h4>
                            <p>
                                {{ message.message }} </p>
                            <a class="readmore" [routerLink]="[
                            '/dashboard/conversation/',
                            message._id._id,
                            message.productId
                          ]"><img alt="" src="./assets/img/reammore.png"></a>
                        </div>
                    </li>
                    <li *ngIf="message.sender == 'buyer'">
                        
                        <div class="pic" *ngIf="message.buyerId.image">
                            <img class="img" alt="" src="{{ message._id.image }}">
                        </div>
                        <div class="pic" *ngIf="!message.buyerId.image">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                {{ message.buyerId.name }} </h4>
                            <p>
                                {{ message.message }} </p>
                            <a class="readmore" [routerLink]="[
                            '/dashboard/conversation/',
                            message.buyerId._id,
                            message.productId
                          ]"><img alt="" src="./assets/img/reammore.png"></a>
                        </div>
                    </li>
                   
                </ul>


            </div>
        </div>
    </div>


</div>