<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Products</strong></h3>
  </div>

  <div class="panel-body" *ngIf="!prodList">
    <a
      style="text-align:center;"
      [routerLink]="['/dashboard/add-product']"
      class="btn btn-primary"
      >Add Product</a
    >
  </div>
  <div class="panel-body" *ngIf="prodList">
    <a
      [routerLink]="['/dashboard/add-product']"
      class="btn btn-primary pull-right"
      >Add Product</a
    >
    <div class="clearfix"></div>
    <br />
    <div class="table-responsive">
      <div class="bs-component">
        <table class="table btn-gradient-grey">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Image</th>
              <th>Quantity</th>
              <!-- <th>Actual Price</th> -->
              <th>Unit Price</th>
              <th>Commission</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let product of (products
                  | paginate: { itemsPerPage: 5, currentPage: p });
                let i = index
              "
            >
              <th>{{ i + 1 }}</th>
              <th>{{ product.name }}</th>
              <th>
                <img
                  class="viewProdImg"
                  src="{{ environment.serverurl}}{{ product.mainImage }}"
                  style="max-height:100px"
                />
              </th>
              <th>{{ product.quantity }}</th>
              <!-- <th>&#x20B9;{{ product.aprice }}</th> -->
              <th>&#x20B9;{{ product.dprice }}</th>
              <th>{{ product.commission }}%</th>
              <th>
                <a
                  [routerLink]="['/dashboard/view-product', product._id]"
                  class="btn btn-info"
                  title="View Product"
                  ><i class="fa fa-eye"></i
                ></a>
                <a
                  (click)="openDeleteModel(content, product)"
                  class="btn btn-danger"
                  title="Delete Product"
                  ><i class="fa fa-trash"></i
                ></a>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<div id="delProductModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Delete Product</h4>
      </div>
      <div class="modal-body">
        <p>
          Are You Really Want To Delete This Product :
          {{ currProduct.name | uppercase }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteProduct(currProduct._id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
