<header id="topbar" class="breadcrumb_style_2">
    <br>

    <div class="profile-head clearfix no-print">
        <div class="fixed-container">
            <div class="threepin"><a href="#" class="menu-dashboard click_trigger" id="ct_2"> <span></span></a></div>
            <div class="fl">
                <div class="about-me">
                    <div class="avatar"><img src="./assets/img/admin.jpg" alt=""></div>
                    <ol class="breadcrumb">
                        <li *ngFor=' let bread of breadcrumbs' class="breadcrumb-current-item">
                            <a routerLink={{bread.path}} *ngIf="bread.path">
                                {{ bread.name }}
                            </a>
                            <span *ngIf="!bread.path">
                                {{ bread.name }}
                            </span>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- <div class="fr">
                                <div class="items-list">
                        <ul>
                            <li>
                                <a href="/account/favorites"><span>0</span>Favorite Items                            </a></li>
                                                        <li>
                                    <a href="/account/publications"><span>164</span>Published Items                                </a></li>
                            
                        </ul>
    
                    </div>
                            <div class="liked-shop">
                    <ul>
                                                <li><a href="/account/favorites">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70px" height="70px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                    <g>
                        <g>
                            <defs>
                                <rect id="SVGID_1_" width="70" height="66.3"></rect>
                            </defs>
                            <clipPath id="SVGID_2_">
                                <use xlink:href="#SVGID_1_" overflow="visible"></use>
                            </clipPath>
                            <path clip-path="url(#SVGID_2_)" fill="#ffffff" d="M35,64.4l-4.9-4.9C11.9,43.4,0,32.5,0,19.2C0,8.4,8.4,0,19.2,0
          c6,0,11.9,2.8,15.7,7.3C38.8,2.8,44.8,0,50.7,0C61.6,0,70,8.4,70,19.2c0,13.3-11.9,24.2-30.1,40.2L35,64.4z M35,64.4"></path>
                        </g>
                    </g>
                    </svg>
                                    <span class="tooltip-txt">0Favorite Items</span>
                                </a></li>
                                                                    <li><a href="/account/publications">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70px" height="70px" viewBox="-364 606 70 70" enable-background="new -364 606 70 70" xml:space="preserve">
                    <g>
                        <g>
                            <path fill="#ffffff" d="M-310.2,606H-347c-9.6,3-14.8,7.4-14.8,7.4h66.4C-301.5,607.6-310.2,606-310.2,606z M-360.3,672.5h62.7
          v-48h-62.7V672.5z M-334.8,635.6c2.2,0,4.4,1.1,5.8,2.9c1.4-1.8,3.6-2.9,5.8-2.9c4,0,7.1,3.4,7.1,7.7c0,5.3-4.4,9.7-11.1,16.1
          l-1.8,2l-1.8-2c-6.7-6.5-11.1-10.8-11.1-16.1C-341.9,639-338.8,635.6-334.8,635.6z M-364,617.2v3.7h70.1v-3.7H-364z"></path>
                        </g>
                    </g>
                    </svg>
                                    <span class="tooltip-txt">164Published Items</span></a>
                            </li>
                                        </ul>
                </div>
            </div> -->
        </div>
    </div>
</header>