.profile-head {
    background: #f7f8f9;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 0;
    padding: 10px 0 7px 0;
}

.fixed-container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

a, a:visited {
    line-height: normal;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.breadcrumb a,span {
    color: #b3b6b7;
    font-size: 22px;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

span {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.fl {
    float: left;
}

.about-me {
    display: inline-block;
}

.about-me .avatar, .avatar {
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
    border-radius: 100%;
    border: solid 2px #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.31);
    margin-right: 10px;
}

.about-me .avatar img, .avatar img {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    display: block;
}

.about-me .name {
    float: left;
    color: #000;
    line-height: 1.2;
    font-size: 1.42em;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 134px;
}

.fr {
    float: right;
}

.items-list {
    margin-top: 2px;
}

div{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

ul {
    list-style: none outside;
}

ul, ol {
    margin-bottom: 0px;
}

ol, ul {
    list-style: none;
}

.items-list li {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: 600;
    padding: 10px 0px;
}

.items-list li a {
    color: #4b4b4d;
    padding: 12px 15px;
    border-radius: 2px;
    border: solid 1px transparent;
}

a, a:visited {
    line-height: normal;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.items-list li a span {
    font-size: 0.857em;
    text-align: center;
    background: #4b4b4d;
    color: #fff;
    width: 25px;
    height: 25px;
    display: inline-block;
    padding-top: 4px;
    border-radius: 100%;
    margin-right: 10px;
}

.liked-shop {
    display: none;
    margin-top: 10px;
}

.liked-shop li {
    vertical-align: top;
    display: inline-block;
}

.liked-shop li a {
    position: relative;
    padding-top: 10px;
    width: 37px;
    height: 37px;
    display: block;
    text-align: center;
    border-radius: 100%;
    background: #4b4b4d;
}

.liked-shop li a img, .liked-shop li a svg {
    width: 20px;
    height: 20px;
}

.userAddress{
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 84%;
}