<div class="content-left">
  <ul class="nav nav-content">
    <li [ngClass]="active == 'overview' ? 'active' : ''">
      <a [routerLink]="['/dashboard']">
        <i class="fa fa-check-square"></i> <span>Overview</span>
      </a>
    </li>
    <li [ngClass]="active == 'account-information' ? 'active' : ''">
      <a [routerLink]="['/dashboard/account-information']">
        <i class="fa fa-info-circle"></i> <span>Account Information</span>
      </a>
    </li>

    <li [ngClass]="active == 'messages' ? 'active' : ''">
      <a [routerLink]="['/dashboard/messages']">
        <i class="fa fa-comments"></i> <span>Messages</span>
        <p class="message_notifaction">{{ apis.notification }} new</p>
      </a>
    </li>
    <!--<li [ngClass]="active == 'mywallet' ? 'active' : ''">
        <a [routerLink]="['/dashboard/products']">
          <i class="fa fa-google-wallet"></i> <span>My Wallet</span>
        </a>
      </li>
      <li [ngClass]="active == 'rewardpoints' ? 'active' : ''">
        <a [routerLink]="['/dashboard/products']">
          <i class="fa fa-plus-circle"></i> <span>Reward Points</span>
        </a>
      </li>
      <li [ngClass]="active == 'sales' ? 'active' : ''">
        <a [routerLink]="['/dashboard/products']">
          <i class="fa fa-cart-plus"></i> <span>Sales</span>
        </a>
      </li>
    </li>-->

    <li [ngClass]="active == 'products' ? 'active' : ''">
      <a [routerLink]="['/dashboard/products']">
        <i class="fa fa-folder"></i> <span>My Products</span>
      </a>
    </li>
    <li [ngClass]="active == 'orders' ? 'active' : ''">
      <a [routerLink]="['/dashboard/orders']">
        <i class="fa fa-list-alt"></i> <span>Orders</span>
      </a>
    </li>
    <li [ngClass]="active == 'shop' ? 'active' : ''">
      <a [routerLink]="['/dashboard/shop']">
        <i class="fa fa-building"></i> <span>Shop</span>
      </a>
    </li>

    <li [ngClass]="active == 'cancel-requests' ? 'active' : ''">
      <a [routerLink]="['/dashboard/cancel-requests']">
        <i class="fa fa-ban"></i> <span>Cancellation Requests</span>
      </a>
    </li>

    <!--
      <li [ngClass]="active == 'returnrequest' ? 'active' : ''">
        <a [routerLink]="['/dashboard/products']">
          <i class="fa fa-repeat"></i> <span>Return Requests</span>
        </a>
      </li>
      <li [ngClass]="active == 'Favorites' ? 'active' : ''">
        <a [routerLink]="['/dashboard/products']">
          <i class="fa fa-folder"></i> <span>Favorites</span>
        </a>
      </li>
    -->
  </ul>
</div>
