<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <strong>Update Profile</strong>
    </h3>
  </div>
  <div class="panel-body">
    <div class='col-md-4'>
      <span *ngIf="seller?.image">
        <img src="http://{{seller.image}}" style="width:100%" class='img-responsive img-thumbnail' />
      </span>
      <span *ngIf="!seller?.image">
        <img src="./assets/img/admin.png" style="width:100%" class='img-responsive img-thumbnail' />
      </span>
      <input class="btn btn-default" style="width:100%" (change)="updateProfileBtn($event.target.files)" id="profileImg" name="profileImg"
        [(ngModel)]="profilePic" #profileEle="ngModel" type="file">
      <br>
      <button class="btn btn-default" style="width:100%" (click)="updateProfileImage()" *ngIf="profilePicBtn">Upload</button>
    </div>
    <form role="form" #updateProfile="ngForm">
      <div class='col-md-8'>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input class="form-control" id="name" name="name" [(ngModel)]="seller.name" #nameEle="ngModel" placeholder="Enter Name" autofocus
            type="text" required minlength="3">
          <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">* Please Enter Name</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input class="form-control" disabled="disabled" id="email" name="email" [(ngModel)]="seller.email" #emailEle="ngModel" placeholder="Enter Email"
            autofocus type="text" required minlength="3">
          <span class='text-danger' *ngIf="emailEle.touched && emailEle.errors && emailEle.errors.required">* Please Enter
            Name
          </span>
        </div>
        <!-- <div class="form-group">
          <label for="exampleInputEmail1">Phone</label>
          <input class="form-control" id="phone" name="phone" [(ngModel)]="seller.phone" #phoneEle="ngModel" placeholder="Enter Phone Number" autofocus type="text" required minlength="3">
          <span class='text-danger' *ngIf="phoneEle.touched && phoneEle.errors && phoneEle.errors.required">* Please Enter Phone NUmber</span>
        </div> -->
        <button type="submit" [disabled]="!updateProfile.form.valid" (click)="doUpdateProfile()" class="btn btn-primary">Update
          Profile
        </button>

      </div>
      <div class='col-md-12'>

      </div>
    </form>





  </div>
</div>