<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <strong>Edit Product</strong>
    </h3>
  </div>
  <div class="panel-body">
    <form role="form" #EditProductForm="ngForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input class="form-control" id="name" name="name" [(ngModel)]="currProduct.name" #nameEle="ngModel" placeholder="Enter Product Name"
          autofocus type="text" required>
        <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">* Please Enter Product
          Name
        </span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Actual Price</label>
        <input class="form-control" id="aprice" name="aprice" [(ngModel)]="currProduct.aprice" #apriceEle="ngModel" placeholder="Enter Product Actual Price"
          type="text" required>
        <span class='text-danger' *ngIf="apriceEle.touched && apriceEle.errors && apriceEle.errors.required">* Please Enter
          Product Actual Price</span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Discount Price</label>
        <input class="form-control" id="dprice" name="dprice" [(ngModel)]="currProduct.dprice" #dpriceEle="ngModel" placeholder="Enter Product Discount Price"
          type="text" required>
        <span class='text-danger' *ngIf="dpriceEle.touched && dpriceEle.errors && dpriceEle.errors.required">* Please Enter
          Product Discount Price</span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Discription</label>
        <textarea class="form-control" id="description" name="currProduct.description" [(ngModel)]="currProduct.description" #descEle="ngModel"
          placeholder="Enter Product Description" required></textarea>
        <span class='text-danger' *ngIf="descEle.touched && descEle.errors && descEle.errors.required">* Please Enter Product
          Description
        </span>
      </div>
      <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Color</label>
        <br>
        <input class='btn btn-default' style="min-height:40px;width:100px;margin-right:100px" [(colorPicker)]="color" [style.background]="color"
          [(colorPicker)]="color" (colorPickerClose)="selectColor(color)" />
        <button class='btn' style="height:40px;width:40px;margin-right:10px" [style.background]="color" *ngFor="let color of currProduct.color; let i = index"
          (click)="selectColor(color)"></button>
      </div>

      <!-- <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Category</label>
        <select class="form-control" name="category" #category="ngModel" (change)="selectSubCategory($event.target.value)" required
          [(ngModel)]="currProduct.category" title="category" id="gender">
          <option value="" selected>----- Select Category -----</option>
          <option value="{{cat._id}}" *ngFor="let cat of categories">{{cat.name}}</option>

        </select>
      </div>
      <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Sub-Category</label>
        <select class="form-control" name="subCategory" #subCategory="ngModel" required [(ngModel)]="currProduct.subcategory" title="subCategory"
          id="gender">
          <option value="test" selected>----- Select Sub-Category -----</option>
          <option value="{{cat.name}}" *ngFor="let cat of subCategories">{{cat.name}}</option>
        </select>
      </div> -->

      <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Product Quantity</label>
        <input class="form-control" id="quantity" name="quantity" pattern="[0-9]*" [(ngModel)]="currProduct.quantity" #quantityEle="ngModel"
          placeholder="Enter Product Units" type="number" required>
        <span class='text-danger' *ngIf="quantityEle.touched && quantityEle.errors && quantityEle.errors.required">* Please
          Enter Product Quantity</span>
        <span class='text-danger' *ngIf="quantityEle.touched && quantityEle.errors && quantityEle.errors.pattern">* Only
          numbers allowed</span>
      </div>

      <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Quantity Type</label>
        <br>
        <select [(ngModel)]="currProduct.quantityType" #quantityTypeEle="ngModel" name="quantityType" class="form-control">
          <option [value]="">Select A Category</option>
          <option>Unit</option>
          <option>Meter</option>
          <option>Kilogram</option>
        </select>
        <span class='text-danger' *ngIf="quantityTypeEle.touched && quantityTypeEle.errors && quantityTypeEle.errors.required">*
          Please Select Quantity Type</span>
      </div>

      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">Services</label>
        <br>
        <input value="Cash on delivery is available" (change)="selectServices($event.target.value)" [checked]="services.indexOf('Cash on delivery is available') > -1"
          style="position:relative; top:3px;" id="service-m" name="service" type="checkbox">&nbsp;<span>Cash on delivery
          is available</span><br>
        <input value="30 Days Return Policy" (change)="selectServices($event.target.value)" [checked]="services.indexOf('30 Days Return Policy') > -1"
          style="position:relative; top:3px;" id="service-m" name="service" type="checkbox">&nbsp;<span>30 Days Return
          Policy
        </span><br>
      </div>
      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">Size</label>
        <br>
        <span style='min-width:50px;display:inline-block'>S :</span><input value="s" id="size-s" name="size" [checked]="currProduct?.size.indexOf('s') > -1"
          type="checkbox" (change)="selectSize($event.target.value)"><br>
        <span style='min-width:50px;display:inline-block'>M :</span><input value="m" id="size-m" name="size" [checked]="currProduct?.size.indexOf('m') > -1"
          type="checkbox" (change)="selectSize($event.target.value)"><br>
        <span style='min-width:50px;display:inline-block'>L :</span><input value="l" id="size-l" name="size" [checked]="currProduct?.size.indexOf('l') > -1"
          type="checkbox" (change)="selectSize($event.target.value)"><br>
        <span style='min-width:50px;display:inline-block'>XL :</span><input value="xl" id="size-xl" name="size" [checked]="currProduct?.size.indexOf('xl') > -1"
          type="checkbox" (change)="selectSize($event.target.value)"><br>
        <span style='min-width:50px;display:inline-block'>XXL :</span><input value="xxl" id="size-xxl" name="size" [checked]="currProduct?.size.indexOf('xxl') > -1"
          type="checkbox" (change)="selectSize($event.target.value)"><br>
        <span style='min-width:50px;display:inline-block'>XXXL :</span><input value="xxxl" id="size-xxxl" name="size" [checked]="currProduct?.size.indexOf('xxxl') > -1"
          type="checkbox" (change)="selectSize($event.target.value)"><br>

      </div>
      <button [disabled]="!EditProductForm.form.valid" (click)="editProduct()" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>