<div class="data-side">
    <div class="tabz-dashboard no-print">
  </div>                <div class="box-head"><h3>Messages</h3>
    <div class="btn-view"></div></div>
                       <div class="arrowTabs-wrapper"> 
  <ul class="arrowTabs setactive-js">
            <li><a [routerLink]="['/dashboard/messages']">Inbox</a>
            </li>
            <li class="active">
                <a [routerLink]="['/dashboard/sent-mails']">Sent Mails</a>
            </li>
                                        <li>
                    <a [routerLink]="['/dashboard/trash']">Trash</a>
                </li>
                                    <li>
                <a [routerLink]="['/dashboard/compose']">Compose</a>
            </li>
        </ul>
  </div>
    <div class="space-lft-right">
            <div class="space-lft-right">
                    <div class="wrapform">
                            <div class="panel-menu br-n pn mtn">
                                    <div class="row">
                                        <div class="hidden-xs hidden-sm col-md-3">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default light text-dark">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                                <button type="button" class="btn btn-default light text-dark">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-9 text-right ta-l-xs">
                                            <button type="button" class="btn btn-dark light visible-xs-inline-block mr10">
                                                Compose
                                            </button>
                                            <span class="hidden-xs va-m text-muted mr15"> <strong>9</strong> messages
                                            </span>
                                            <div class="btn-group mr10">
                                                <button type="button" class="btn btn-default light text-dark hidden-xs">
                                                    <i class="fa fa-star"></i>
                                                </button>
                                                <button type="button" class="btn btn-default light text-dark hidden-xs">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                                <button type="button" class="btn btn-default light text-dark">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                            <div class="btn-group mr10">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default light text-dark dropdown-toggle ph8" data-toggle="dropdown">
                                                        <span class="fa fa-tags"></span>
                                                        <span class="caret ml5"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                        <li>
                                                            <a href="#">Submenu #1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Submenu #2</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Submenu #3</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-plus pr5"></span> Create New</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default light text-dark dropdown-toggle ph8 br-tp-left" data-toggle="dropdown">
                                                        <span class="fa fa-folder"></span>
                                                        <span class="caret ml5"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                        <li>
                                                            <a href="#">Submenu #1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Submenu #2</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Submenu #3</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-plus pr5"></span> Create New</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default light text-dark">
                                                    <i class="fa fa-chevron-left"></i>
                                                </button>
                                                <button type="button" class="btn btn-default light text-dark">
                                                    <i class="fa fa-chevron-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <div class="table-responsive">
                            <table id="message-table" class="table tc-checkbox-1 allcp-form theme-warning br-t btn-gradient-grey">
                                <thead>
                                <tr class="">
                                    <th class="text-center hidden-xs">Select</th>
                                    <th class="hidden-xs">Star</th>
                                    <th>Sender</th>
                                    <th>Subject</th>
                                    <th class="hidden-xs">Attachement</th>
                                    <th class="text-center">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="message-unread highlight">
                                    <td class="hidden-xs">
                                        <label class="option block mn">
                                            <input type="checkbox" name="inputname" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs">
                          <span class="rating block mn pull-left">
                            <input class="rating-input" id="r1" type="radio" name="custom">
                            <label class="rating-star" for="r1">
                                <i class="fa fa-star va-m"></i>
                            </label>
                          </span>
                                    </td>
                                    <td class="">Digital worm</td>
                                    <td class="">Claritas est etiam processus dynamicus, qui sequitur.</td>
                                    <td class="hidden-xs"></td>
                                    <td class="text-center fw600">October 20</td>
                                </tr>
                                <tr class="message-unread">
                                    <td class="hidden-xs">
                                        <label class="option block mn">
                                            <input type="checkbox" name="inputname" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs">
                          <span class="rating block mn pull-left">
                            <input class="rating-input" id="r2" type="radio" name="custom">
                            <label class="rating-star" for="r2">
                                <i class="fa fa-star va-m"></i>
                            </label>
                          </span>
                                    </td>
                                    <td class="">All Stars</td>
                                    <td class="">Claritas est etiam processus dynamicus, qui sequitur.</td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-paperclip fs15 text-muted va-b"></i>
                                    </td>
                                    <td class="text-center">October 20</td>
                                </tr>
                                <tr class="message-unread">
                                    <td class="hidden-xs">
                                        <label class="option block mn">
                                            <input type="checkbox" name="inputname" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs">
                          <span class="rating block mn pull-left">
                            <input class="rating-input" id="r3" type="radio" name="custom">
                            <label class="rating-star" for="r3">
                                <i class="fa fa-star va-m"></i>
                            </label>
                          </span>
                                    </td>
                                    <td class="">Rich Eritas</td>
                                    <td class="">Claritas est etiam processus dynamicus, qui sequitur.</td>
                                    <td class="hidden-xs"></td>
                                    <td class="text-center">October 20</td>
                                </tr>
                                <tr class="message-unread">
                                    <td class="hidden-xs">
                                        <label class="option block mn">
                                            <input type="checkbox" name="inputname" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs">
                          <span class="rating block mn pull-left">
                            <input class="rating-input" id="r4" type="radio" name="custom">
                            <label class="rating-star" for="r4">
                                <i class="fa fa-star va-m"></i>
                            </label>
                          </span>
                                    </td>
                                    <td class="">Somnabula</td>
                                    <td class="">Claritas est etiam processus dynamicus, qui sequitur.</td>
                                    <td class="hidden-xs"><i class="fa fa-paperclip fs15 text-muted va-b"></i></td>
                                    <td class="text-center">October 20</td>
                                </tr>
                                <tr class="message-read">
                                    <td class="hidden-xs">
                                        <label class="option block mn">
                                            <input type="checkbox" name="inputname" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs">
                          <span class="rating block mn pull-left">
                            <input class="rating-input" id="r5" type="radio" name="custom">
                            <label class="rating-star" for="r5">
                                <i class="fa fa-star va-m"></i>
                            </label>
                          </span>
                                    </td>
                                    <td class="">Chilik</td>
                                    <td class="">Claritas est etiam processus dynamicus, qui sequitur.</td>
                                    <td class="hidden-xs"></td>
                                    <td class="text-center">October 19</td>
                                </tr>
                                <tr class="message-read">
                                    <td class="hidden-xs">
                                        <label class="option block mn">
                                            <input type="checkbox" name="inputname" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs">
                          <span class="rating block mn pull-left">
                            <input class="rating-input" id="r6" type="radio" name="custom">
                            <label class="rating-star" for="r6">
                                <i class="fa fa-star va-m"></i>
                            </label>
                          </span>
                                    </td>
                                    <td class="">Rane Andwre</td>
                                    <td class="">Claritas est etiam processus dynamicus, qui sequitur.</td>
                                    <td class="hidden-xs"><i class="fa fa-paperclip fs15 text-muted va-b"></i></td>
                                    <td class="text-center">October 19</td>
                                </tr>
                                <tr class="message-read">
                                    <td class="hidden-xs">
                                        <label class="option block mn">
                                            <input type="checkbox" name="inputname" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs">
                          <span class="rating block mn pull-left">
                            <input class="rating-input" id="r7" type="radio" name="custom">
                            <label class="rating-star" for="r7">
                                <i class="fa fa-star va-m"></i>
                            </label>
                          </span>
                                    </td>
                                    <td class="">John Doe</td>
                                    <td class="">Claritas est etiam processus dynamicus, qui sequitur.</td>
                                    <td class="hidden-xs"></td>
                                    <td class="text-center">October 19</td>
                                </tr>
                                <tr class="message-read">
                                    <td class="hidden-xs">
                                        <label class="option block mn">
                                            <input type="checkbox" name="inputname" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs">
                          <span class="rating block mn pull-left">
                            <input class="rating-input" id="r8" type="radio" name="custom">
                            <label class="rating-star" for="r8">
                                <i class="fa fa-star va-m"></i>
                            </label>
                          </span>
                                    </td>
                                    <td class="">Sack Bane</td>
                                    <td class="">Claritas est etiam processus dynamicus, qui sequitur.</td>
                                    <td class="hidden-xs"><i class="fa fa-paperclip fs15 text-muted va-b"></i></td>
                                    <td class="text-center">October 19</td>
                                </tr>
                                <tr class="message-read">
                                    <td class="hidden-xs">
                                        <label class="option block mn">
                                            <input type="checkbox" name="inputname" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs">
                          <span class="rating block mn pull-left">
                            <input class="rating-input" id="r9" type="radio" name="custom">
                            <label class="rating-star" for="r9">
                                <i class="fa fa-star va-m"></i>
                            </label>
                          </span>
                                    </td>
                                    <td class="">Ban Zai</td>
                                    <td class="">Claritas est etiam processus dynamicus, qui sequitur.</td>
                                    <td class="hidden-xs"></td>
                                    <td class="text-center">October 19</td>
                                </tr>
                                <tr class="message-read">
                                    <td class="hidden-xs">
                                        <label class="option block mn">
                                            <input type="checkbox" name="inputname" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs">
                          <span class="rating block mn pull-left">
                            <input class="rating-input" id="r10" type="radio" name="custom">
                            <label class="rating-star" for="r10">
                                <i class="fa fa-star va-m"></i>
                            </label>
                          </span>
                                    </td>
                                    <td class="">Tin Tin</td>
                                    <td class="">Claritas est etiam processus dynamicus, qui sequitur.</td>
                                    <td class="hidden-xs"><i class="fa fa-paperclip fs15 text-muted va-b"></i></td>
                                    <td class="text-center">October 19</td>
                                </tr>
                                <tr class="message-read">
                                    <td class="hidden-xs">
                                        <label class="option block mn">
                                            <input type="checkbox" name="inputname" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs">
                          <span class="rating block mn pull-left">
                            <input class="rating-input" id="r11" type="radio" name="custom">
                            <label class="rating-star" for="r11">
                                <i class="fa fa-star va-m"></i>
                            </label>
                          </span>
                                    </td>
                                    <td class="">Rock For</td>
                                    <td class="">Claritas est etiam processus dynamicus, qui sequitur.</td>
                                    <td class="hidden-xs"></td>
                                    <td class="text-center">October 19</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    </div>
  </div>