<div class="data-side">
    <div class="box-head">
      <h3>Account Information</h3>
    </div>
    <div class="arrowTabs-wrapper">
      <ul class="arrowTabs setactive-js">
        <li><a [routerLink]="['/dashboard/account-information']">Personal Information</a>
        </li>
        <li class="active">
          <a [routerLink]="['/dashboard/bank-account-information']">Bank Account Info</a>
        </li>
        <li>
          <a [routerLink]="['/dashboard/change-password']">Change Password</a>
        </li>
      </ul>
    </div>
    <div class="space-lft-right">
      <div class="wrapform">
        <form #updateBank="ngForm" name="frmChangeEmail" id="frmChangeEmail" class="siteForm" autocomplete="off">
          <table width="100%" border="0" class="editformTable" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td width="30%" colspan="2"><span class="panelTitleHeading">Bank account details</span></td>
              </tr>
              <tr>
                <td width="30%"><label>Bank name</label><span class="spn_must_field">*</span></td>
                <td><input type="text" name="bankName" id="bankName" value="SBI" title="Bank name" [(ngModel)]="sellerBank.bankName"
                    #bankNameEle="ngModel" placeholder="Enter Bank name" type="text" required minlength="3">
                  <span class='text-danger' *ngIf="bankNameEle.touched && bankNameEle.errors && bankNameEle.errors.required">*
                    Please Enter Valid Bank Name</span></td>
              </tr>
              <tr>
                <td width="30%"><label>Beneficiary/Account Holder Name</label><span class="spn_must_field">*</span></td>
                <td><input type="text" name="benificiary" id="benificiary" value="Test User" title="Beneficiary/Account Holder Name"
                    [(ngModel)]="sellerBank.benificiary" #accHolderEle="ngModel" placeholder="Enter Account Holder Name" type="text"
                    required minlength="3">
                  <span class='text-danger' *ngIf="accHolderEle.touched && accHolderEle.errors && accHolderEle.errors.required">*
                    Please Enter Valid Account Holder Name</span></td>
              </tr>
              <tr>
                <td width="30%"><label>Bank Account Number</label><span class="spn_must_field">*</span></td>
                <td><input type="text" name="accountNumber" id="accountNumber" value="0412421541251" title="Bank Account Number"
                    [(ngModel)]="sellerBank.accountNumber" #bankAccNumEle="ngModel" placeholder="Enter Bank Account Number" type="text"
                    required minlength="3">
                  <span class='text-danger' *ngIf="bankAccNumEle.touched && bankAccNumEle.errors && bankAccNumEle.errors.required">*
                    Please Enter Valid Bank Account Number</span></td>
              </tr>
              <tr>
                <td width="30%"><label>IFSC Code/Swift Code</label><span class="spn_must_field">*</span></td>
                <td><input type="text" name="ifsc" id="ifsc" value="0235213" title="IFSC Code/Swift Code" [(ngModel)]="sellerBank.ifsc"
                    #ifscEle="ngModel" placeholder="Enter IFSC Code" type="text" required minlength="3">
                  <span class='text-danger' *ngIf="ifscEle.touched && ifscEle.errors && ifscEle.errors.required">* Please Enter
                    Valid IFSC Code</span></td>
              </tr>
              <tr>
                <td width="30%"><label>Bank Address</label><span class="spn_must_field">*</span></td>
                <td><textarea name="bankAddress" id="bankAddress" title="Bank Address" [(ngModel)]="sellerBank.bankAddress"
                    #bankAddressEle="ngModel" placeholder="Enter Bank Address" required minlength="3"></textarea>
                  <span class='text-danger' *ngIf="bankAddressEle.touched && bankAddressEle.errors && bankAddressEle.errors.required">*
                    Please Enter Valid Bank Address</span></td>
              </tr>
              <tr>
                <td width="30%"></td>
                <td><button type="submit" [disabled]="!updateBank.form.valid" (click)="doUpdateBank()" class="btn btn-danger">Save
                    Changes
                  </button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>