<header class="navbar navbar-fixed-top bg-system phn">
  <div class="navbar-logo-wrapper">
    <div class="logo-widget">
      <div class="media">
        <a [routerLink]="['/dashboard']"><img src="./assets/img/logo.png"/></a>
      </div>
    </div>
  </div>
  <span
    id="sidebar_top_toggle"
    class="ad ad-lines navbar-nav navbar-left showing-sm"
  ></span>
  <!-- <ul class="nav navbar-nav navbar-left">
    <li class="dropdown dropdown-fuse hidden-xs">
      <h1 style="color: #fff;margin: 0px;font-size: 28px;">Wedding Kart</h1>
    </li>
  </ul> -->
  <ul class="nav navbar-nav navbar-right darker mn pv10">
    <li class="dropdown dropdown-fuse navbar-user">
      <a class="dropdown-toggle mln" data-toggle="dropdown">
        <img
          *ngIf="api.sellerData.image"
          src="http://{{ api.sellerData.image }}"
          style="border-radius:50px;"
          alt="avatar"
        />
        <img
          *ngIf="!api.sellerData.image"
          src="assets/img/admin.png"
          style="border-radius:50px;"
          alt="avatar"
        />
        <span class="hidden-xs"> <span class="name">Account</span> </span>
        <span class="fa fa-caret-down hidden-xs"></span>
      </a>
      <ul class="dropdown-menu list-group keep-dropdown w230" role="menu">
        <li class="list-group-item">
          <span class="fa fa-user"></span>
          <a [routerLink]="['./account-information']" class="">
            Update Profile
          </a>
        </li>
        <li class="list-group-item">
          <span class="fa fa-cog"></span>
          <a [routerLink]="['./change-password']" class=""> Change Password </a>
        </li>
        <li class="dropdown-footer text-center">
          <button (click)="doLogout()" class="btn  btn-warning">logout</button>
        </li>
      </ul>
    </li>
  </ul>
</header>
<br />
