<div class="data-side">
  <h3>Shop Information</h3>
  <div class="space-lft-right">

      <div class="wrapform" style="text-align:center;" *ngIf="!list">
          <img
            src="./assets/img/online-store.png"
            style="width: 100px;"
          />
         
          <h5>You haven't added any shop yet!</h5>
          <br />
          <button class="btn btn-primary" [routerLink]="['/dashboard/add-shop']">Add Now</button>
        </div>

        <div class="wrapform" *ngIf="list">
  
            <div class="card" *ngFor="let shop of allShops; let i=index">
                <div class="sectionhead">
                    <!-- <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#addshop_modal" data-backdrop="static" data-keyboard="false">Add Shop</button>  -->
                    <button class="btn btn-danger" style="float: right;"  [routerLink]="['/dashboard/edit-shop',shop._id]">EDIT</button> &nbsp;
                    <button class="btn btn-danger" style="float: right; margin-right:20px;"  (click)="deleteShop(shop._id)">DELETE</button> &nbsp;
                  </div>
                <div>
                    <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                    <b>SHOP DETAILS</b>
                    <!-- <button class="close" data-dismiss="modal">&times;</button> -->
                    </div>
                    <div class="modal-body">
                    <form #addShop="ngForm">
                        <div class="form-group">
                            <label for="name">Shop Name*</label>
                            <input type="text" name="name" id="name" class="form-control" disabled="disabled" placeholder="Shop Name" [(ngModel)]="shop.name"
                            #nameEle="ngModel" autofocus
                            required minlength="3">
                        <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">*
                            Please Enter Valid Shop Name</span>
                            </div>
                            
                            <div class="form-group">
                            <label for="email">Email Address*</label>
                            <input type="email" id="email" name="email" class="form-control" disabled="disabled" placeholder="Email" [(ngModel)]="shop.email"
                            #emailEle="ngModel"
                            required minlength="9">
                        <span class='text-danger' *ngIf="emailEle.touched && emailEle.errors && emailEle.errors.required">*
                            Please Enter Valid Email Address</span>
                            </div>
          
                            <div class="form-group">
                                <label for="contact_no">Phone Number</label>
                                <input type="text"  name="contact_no" id="contact_no" class="form-control" disabled="disabled" placeholder="Phone Number" [(ngModel)]="shop.contact_no"
                                #phoneEle="ngModel"
                                required minlength="10">
                            <span class='text-danger' *ngIf="phoneEle.touched && phoneEle.errors && phoneEle.errors.required">*
                                Please Enter Valid Phone Number</span>
                                </div>
          
                            <div class="form-group">
                                <label for="description">Description*</label>
                                <input type="text"  name="description" id="description" class="form-control" disabled="disabled" placeholder="Description" [(ngModel)]="shop.description"
                                #descEle="ngModel"
                                required minlength="5">
                            <span class='text-danger' *ngIf="descEle.touched && descEle.errors && descEle.errors.required">*
                                Please Enter Valid Description</span>
                                </div>
          
                                <div class="form-group">
                                <label for="shopkeeper_name">Shopkeeper Name*</label>
                            <input type="text" name="shopkeeper_name" id="shopkeeper_name" class="form-control" disabled="disabled" placeholder="Shopkeeper Name" [(ngModel)]="shop.shopkeeper_name"
                            #shopkeeper_nameEle="ngModel"
                            required minlength="3">
                        <span class='text-danger' *ngIf="shopkeeper_nameEle.touched && shopkeeper_nameEle.errors && shopkeeper_nameEle.errors.required">*
                            Please Enter Valid Name</span>
                            </div>
          
                                <div class="form-group">
                                    <label for="pancard_no">Pancard Number*</label>
                                    <input type="text" id="pancard_no" name="pancard_no" class="form-control" disabled="disabled" placeholder="Pancard Number" [(ngModel)]="shop.pancard_no"
                                    #pancard_noEle="ngModel" required minlength="7">
                                    <span class='text-danger' *ngIf="pancard_noEle.touched && pancard_noEle.errors && pancard_noEle.errors.required">*
                                        Please Enter Valid Pancard Number</span>
                                    </div>
          
                                    <div class="form-group">
                                        <label for="shopkeeper_no">Personal Number</label>
                                        <input type="text"  name="shopkeeper_no" id="shopkeeper_no" class="form-control" disabled="disabled" placeholder="Personal Number" [(ngModel)]="shop.shopkeeper_no"
                                        #shopkeeper_noEle="ngModel"
                                        required minlength="10">
                                    <span class='text-danger' *ngIf="shopkeeper_noEle.touched && shopkeeper_noEle.errors && shopkeeper_noEle.errors.required">*
                                        Please Enter Valid Phone Number</span>
                                        </div>
                                    <div class="form-group">
                                        <label for="open_time">Open Time</label>
                                        <input type="time"  name="open_time" id="open_time" class="form-control" disabled="disabled" placeholder="Open Time" [(ngModel)]="shop.open_time"
                                        #open_timeEle="ngModel"
                                        required>
                                    <span class='text-danger' *ngIf="open_timeEle.touched && open_timeEle.errors && open_timeEle.errors.required">*
                                        Please Enter Valid Open Time</span>
                                        </div>
                                    <div class="form-group">
                                        <label for="close_time">Close Time</label>
                                        <input type="time"  name="close_time" id="close_time" class="form-control" disabled="disabled" placeholder="Close Time" [(ngModel)]="shop.close_time"
                                        #close_timeEle="ngModel"
                                        required>
                                    <span class='text-danger' *ngIf="close_timeEle.touched && close_timeEle.errors && close_timeEle.errors.required">*
                                        Please Enter Valid Close Time</span>
                                        </div>
                                    
                                        <div class="form-group" *ngIf="documents">
                                            <label>Documents</label><br>
                                            <img src="http://{{image}}" *ngFor="let image of shop.shopManagementPic;" style="width: 100px; padding:20px;">
                                            </div>
                        
                                        
          
                                <div class="form-group">
          <label for="banner">Banner</label>
          <input type="text" id="banner" name="banner" class="form-control" disabled="disabled" placeholder="Banner" [(ngModel)]="shop.banner"
          #bannerEle="ngModel">
          </div>
                                <div class="form-group">
          <label for="status">Status</label>
          <!-- <input type="text" id="status" name="status" class="form-control" placeholder="Status" [(ngModel)]="shop.status"
  #statusEle="ngModel"> -->
  <td>
      <table class="smalltable">
        <tbody>
          <tr>
            <!-- <td><input type="radio" name="shop_vendor_display_status" value="OFF" title="Display Status" (change)="selectStatus($event.target.value)"> OFF</td> -->
            <td><input type="radio" name="shop_vendor_display_status" value="ON" title="Display Status" checked=""> ON</td>
          </tr>
        </tbody>
      </table>
      <!-- <small>Keep it "Off" to hide your shop &amp; products listing from display of the site.</small> -->
    </td>
          </div>
                                <div class="form-group">
          <label for="address">Address</label>
          <textarea id="address" name="address" class="form-control" disabled="disabled" placeholder="Address" [(ngModel)]="shop.address"
          #addressEle="ngModel"></textarea>
          </div>
          <div class="form-group">
              <label for="country">Country</label>
              <input type="text" id="country" name="country" class="form-control" disabled="disabled" placeholder="Country" [(ngModel)]="shop.country"
              #countryEle="ngModel">
              </div>
              <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" id="state" name="state" class="form-control" disabled="disabled" placeholder="State" [(ngModel)]="shop.state"
                  #stateEle="ngModel">
                  </div>
                  <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" id="city" name="city" class="form-control" disabled="disabled" placeholder="City" [(ngModel)]="shop.city"
                      #cityEle="ngModel">
                      </div>
                      <div class="form-group">
                          <label for="postal_code">Zip Code</label>
                          <input type="text" id="postal_code" name="postal_code" disabled="disabled" class="form-control" placeholder="Zip Code" [(ngModel)]="shop.postal_code"
                          #postal_codeEle="ngModel">
                          </div>
                      <div class="form-group">
                          <label for="license_no">License Number</label>
                          <input type="text" id="license_no" name="license_no" class="form-control" disabled="disabled" placeholder="License Number" [(ngModel)]="shop.license_no"
                          #license_noEle="ngModel">
                          </div>
                      <div class="form-group">
                          <label for="gst_no">GST Number</label>
                          <input type="text" id="gst_no" name="gst_no" class="form-control" disabled="disabled" placeholder="GST Number" [(ngModel)]="shop.gst_no"
                          #gst_noEle="ngModel">
                          </div>
                      
                    <!-- <div class="form-group">
                    <input type="submit" id="addshop" name="addshop" [disabled]="!addShop.form.valid" (click)="addNewShop()" class="btn btn-primary btn-block">
                    </div> -->
                    </form>								
                  </div>
                   
                    </div>
                    </div>
                    </div>
              </div>
              
            </div>


      </div>
    </div>    
    
        

      
        
