#loginpanel .colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4); }
.buyer-login
{
	    padding: 20px;
    position: relative;
   width: 550px; 
    margin: 0px auto;
    box-shadow: 0px 2px 2px #dcdcdc;
    background: rgba(255, 255, 255, 0.90);
}
  
 .bg-form {
    background-image: url(../../assets/img/bg-login.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
    margin-bottom: 0px !important;
	position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .bg-form h2{
	    font-size: 22px;
    margin-top: 0px;
    font-weight: 400;
}
.customer-login-form  p,.register p
{
	width:100%;
}
.customer-login-form .modal{
    background: rgba(0, 0, 0, 0.42);
}
.customer-login-form .button, .btn-primary, input[type="submit"]{
    color: #333e48;
    background-color: #ea1b25;
    border-color: #ea1b25;
}
.login input,.register input{
	padding: 0.857em 1.214em;
    background-color: transparent;
    color: #818181;
    line-height: 1.286em;
    outline: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 1.571em;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
	width:100%;
}
.confirmation-recieve a{
    text-decoration: none;
    color: #ea1b25;
    cursor: pointer;
}
.login input[type="checkbox"]{
	    background: #fff;
    padding: 0px;
    width: 16px;
    height: 16px;
    line-height: normal;
    border-radius: 0;
    -webkit-appearance: checkbox;
}
.login input[type="submit"],.register input[type="submit"]{
	width: 100px;
    margin-right: 10px;
    color: #fff;
}
.tab-form .nav-pills .nav-item {
    width: 49%;
    text-align: center;
}

.tab-form .nav-pills .nav-item .nav-link {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    font-size: 16px;
    color: #f8013a;
    border: 1px solid #f8013a;
    padding: 10px 10px;
	background:transparent;
}

.tab-form .nav-pills .nav-link.active, .tab-form .nav-pills .nav-link:hover, .tab-form .nav-pills .nav-link:focus {
    background-color: #f8013a !important;
    color: #fff !important;
}
.register-benefits h3 {
    font-size: 1.286em;
    line-height: 1em;
    margin-bottom: 1.444em;
}
 .register-benefits ul 
 {
	 list-style:none;
	 padding-left:0px;
 }

 .register-benefits ul > li::before {
    content: "\f00c";
    color: #5bb300;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.143em;
    display: inline-block;
    margin-right: 1em;
}
.form-row-wide input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-btn button.btn-success{
    background: #ea1b25;
    color:#fff;
    margin-right: 10px;
    font-size: 16px;
    opacity: 1;
    border-radius: 5px;
}
.form-btn button.btn-default{
    background: transparent;
    color:#ea1b25;
    margin-right: 10px;
    font-size: 16px;
    opacity: 1;
    border-radius: 5px;
    border:1px solid #ea1b25;
    transition: 0.3s ease-in-out;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}
.form-btn button.btn-default:hover,.form-btn button.btn-default:focus{
    background: #ea1b25;
    color:#fff;
}
.lost_password a{
    color:#ea1b25;
    cursor: pointer;
}
.lost_password a:hover,.lost_password a:focus{
    text-decoration: none;

}
.remeber-box  {
    display: flex;
}
.remeber-box label {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.remeber-box input{
    margin-top: 0px;
    margin-right: 5px;
}
@media (max-width:767px){
    .bg-form{
        position: relative;
    }
    .buyer-login{
        width:100%;
    }
}