<div class="data-side">
  <div class="box-head"><h3>View Message</h3></div>

  <div class="space-lft-right">
    <div class="tbl-listing">
      <table class="table">
        <tbody>
          <tr>
            <th>Product</th>
            <th>Category</th>
            <th width="25%">Price</th>
            <th width="25%"></th>
          </tr>
          <tr>
            <td><span class="cellcaption"></span>{{ product.name }}</td>
            <td><span class="cellcaption"></span> {{ product.category }}</td>
            <td>
              <span class="cellcaption"></span> &#x20B9;{{
                product.dprice | number: ".2-2"
              }}
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="wrapform">
      <div class="panel-menu br-n pn mtn">
        <div class="row">
          <div class="hidden-xs hidden-sm col-md-3">
            <div class="btn-group">
              <button type="button" class="btn btn-default light text-dark">
                <i
                  (click)="getSingleConvo(buyerId, productId)"
                  title="Refresh"
                  class="fa fa-refresh"
                ></i>
              </button>
            </div>
          </div>
          <!-- <div class="col-xs-12 col-md-9 text-right ta-l-xs">
           
            <span class="hidden-xs va-m text-muted mr15">
              <strong>{{ messages.length }}</strong> message(s)
            </span>
           
           
          </div> -->
        </div>
      </div>

      <!-- chat box start -->
      <div class="chat-element-box">
        <a *ngIf="!loadAll" (click)="showAll(buyerId, productId)">Load All</a>
        <div
          class="chat-element-inner"
          *ngFor="let message of messages; let i = index"
        >
          <div class="chat-element-left" *ngIf="message.sender == 'buyer'">
            <div class="chat-element-content-box">
              <span class="chat-content">{{ message.message }}</span>
              <span class="chat-time">Date: {{ message.create_time }}</span>
            </div>
          </div>

          <div class="chat-element-right" *ngIf="message.sender == 'seller'">
            <div class="chat-element-content-box">
              <span> {{ message.message }} </span>
              <span class="chat-time">Date: {{ message.create_time }}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- chat box End -->
    </div>
    <!-- <div> -->
    <div class="wrapformChangePassword">
      <form
        role="form"
        #messageForm="ngForm"
        (ngSubmit)="sendMessage(messageForm.value)"
        name="frmPassword"
        id="frmStrengthPassword"
        class="siteForm"
        autocomplete="off"
      >
        <div class="message-chat-element">
          <input
            id="message"
            name="message"
            title="Enter Your Query Here"
            cols="45"
            rows="8"
            [(ngModel)]="message"
            #messageEle="ngModel"
            placeholder="Enter Your Message"
            type="text"
            required
            minlength="1"
          />
          <!-- <span class='text-danger' *ngIf="messageEle.touched && messageEle.errors && messageEle.errors.required">
                  *Please Enter The Message</span>    -->

          <button
            type="submit"
            class="btn btn-danger"
            [disabled]="!messageForm.form.valid"
            name="btn_submit"
            id="btn_submit"
          >
            Send
          </button>
        </div>
      </form>
    </div>
    <div id="co1"></div>
    <!-- </div> -->
  </div>
</div>
