/* css chat box */

.chat-element-box {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
.chat-element-left {
  display: flex;
}
.chat-element-left figure {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  margin-right: 15px;
  margin-bottom: 0px;
}
.chat-element-left .chat-element-content-box {
  /* flex: 1; */
  max-width: 600px;
  padding: 10px;
  background: #f7f5f5;
  margin-bottom: 15px;
  border-radius: 10px 10px 10px 0px;
  box-shadow: 0px 3px 3px #b9b7b7;
}
.chat-element-content-box .chat-time {
  display: block;
  text-align: right;
  color: #a9a1a1;
}
.chat-element-right {
  display: flex;
  justify-content: flex-end;
}
.chat-element-right .chat-element-content-box {
  display: inline-flex;
  max-width: 600px;
  padding: 10px;
  background: #f8013a;
  margin-bottom: 15px;
  color: #ffff;
  border-radius: 10px 10px 0px 10px;
  box-shadow: 0px 3px 3px #b9b7b7;
  flex-direction: column;
}
.chat-element-right .chat-element-content-box .chat-time {
  color: #fff;
}
.tbl-listing table {
  width: 100%;
}
.tbl-listing table td,
.tbl-listing table th {
  padding: 10px 15px;
  border-top: 1px solid #e6e2e2;
  border-right: none;
  border-left: none;
  font-size: 14px;
}
.tbl-listing table td {
  font-weight: 400;
}
.message-chat-element {
  position: relative;
  max-width: 95%;
  margin: 0px auto;
}
.message-chat-element input {
  width: 100%;
  padding: 10px;
  outline: none;
}
.message-chat-element button {
  position: absolute;
  right: 0px;
  z-index: 99;
  height: 100%;
  width: 100px;
  top: 0px;
}
