<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <strong>Change Password</strong>
    </h3>
  </div>
  <div class="panel-body">
    <form role="form" #chanegPassword="ngForm" >
      <div class="form-group">
        <label for="exampleInputEmail1">Old Password</label>
        <input class="form-control" id="opass" name="opass" [(ngModel)]="oldPassword" #opass="ngModel" placeholder="Enter Old Password" autofocus type="password" required minlength="3">
        <span class='text-danger' *ngIf="opass.touched && opass.errors && opass.errors.required">* Please Enter Old Password</span>
        <span class='text-danger' *ngIf="opass.touched && opass.errors && opass.errors.minlength">* Old Password must be atleat 3 characters</span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">New Password</label>
        <input class="form-control" id="npass" #npass="ngModel" name="npass" [(ngModel)]="newPassword" placeholder="Enter New Password" type="password" required minlength="3">
        <span class='text-danger' *ngIf="npass.touched && npass.errors && npass.errors.required">* Please Enter New Password</span>
        <span class='text-danger' *ngIf="npass.touched && npass.errors && npass.errors.minlength">* New Password must be atleat 3 characters</span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Confirm New Password</label>
        <input class="form-control" id="cpass" #cpass="ngModel" name="cpass" [(ngModel)]="conPassword" placeholder="Enter Confirm Password" type="password" required minlength="3">
        <span class='text-danger' *ngIf="cpass.touched && cpass.errors && cpass.errors.required">* Please Enter Confirm Password</span>
        <span class='text-danger' *ngIf="cpass.touched && cpass.errors && cpass.errors.minlength">*Confirm Password must be atleat 3 characters</span>
      </div>
      <button type="submit" [disabled]="!chanegPassword.form.valid" (click)="doChangePassword()" class="btn btn-primary">Update</button>
    </form>
  </div>
</div> -->
<div class="data-side">
    <div class="box-head">
      <h3>
        Change Password
      </h3>
    </div>
    <div class="arrowTabs-wrapper">
      <ul class="arrowTabs setactive-js">
        <li><a [routerLink]="['/dashboard/account-information']">Personal Information</a>
        </li>
        <!-- <li>
          <a [routerLink]="['/dashboard/bank-account-information']">Bank Account Info</a>
        </li> -->
        <li class="active">
          <a [routerLink]="['/dashboard/change-password']">Change Password</a>
        </li>
        <!-- <li>
            <a [routerLink]="['/dashboard/change-email']">Change Email</a>
        </li> -->
      </ul>
    </div>
    <div class="space-lft-right">
      <div class="wrapformChangePassword">
        <form role="form" #chanegPassword="ngForm" name="frmPassword" id="frmStrengthPassword" class="siteForm" autocomplete="off">
          <table class="tbl-twocell">
            <tbody>
              <tr>
                <td width="30%"><label>Current Password</label><span class="spn_must_field">*</span></td>
                <td>
                  <input type="password" name="current_pwd" id="current_pwd" name="opass" [(ngModel)]="oldPassword" #opass="ngModel" title="Current Password"
                    autofocus required minlength="3">
                  <span class='text-danger' *ngIf="opass.touched && opass.errors && opass.errors.required">* Please Enter Old
                    Password
                  </span>
                  <span class='text-danger' *ngIf="opass.touched && opass.errors && opass.errors.minlength">* Old Password
                    must be atleat 3 characters</span>
                </td>
              </tr>
              <tr>
                <td width="30%"><label>New Password</label><span class="spn_must_field">*</span></td>
                <td>
                  <div id="check-password-result">
                    <input type="password" #npass="ngModel" name="npass" [(ngModel)]="newPassword" id="check-password" title="New Password" class="strength"
                      data-password="check-password" required minlength="3">
                    <input style="display:none" class="strength" data-password="check-password" type="text" name="" value="">
                    <!--  <a data-password-button="check-password" class="button_strength">Show Password </a> -->
                    <span class='text-danger' *ngIf="npass.touched && npass.errors && npass.errors.required">* Please Enter
                      New Password</span>
                    <span class='text-danger' *ngIf="npass.touched && npass.errors && npass.errors.minlength">* New Password
                      must be atleat 3 characters</span>
                    <div class="strength_meter">
                      <div data-meter="check-password">
                        <p></p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td width="30%"><label>Confirm New Password</label><span class="spn_must_field">*</span></td>
                <td>
                  <input type="password" name="confirm_pwd" #cpass="ngModel" name="cpass" [(ngModel)]="conPassword" title="Confirm New Password"
                    required minlength="3">
                  <span class='text-danger' *ngIf="cpass.touched && cpass.errors && cpass.errors.required">* Please Enter Confirm
                    Password
                  </span>
                  <span class='text-danger' *ngIf="cpass.touched && cpass.errors && cpass.errors.minlength">*Confirm Password
                    must be atleat 3 characters</span>
                </td>
              </tr>
              <tr>
                <td width="30%"></td>
                <td>
                  <!-- <input type="submit" name="btn_submit" [disabled]="!chanegPassword.form.valid" (click)="doChangePassword()" id="btn_submit" title="" value="Save Changes"> -->
                  <button type="submit" class="btn btn-danger" name="btn_submit" [disabled]="!chanegPassword.form.valid" (click)="doChangePassword()"
                    id="btn_submit">Update</button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
        <script type="text/javascript">//<![CDATA[
          frmPassword_validator_requirements = { "current_pwd": { "required": true }, "new_pwd": { "required": true, "lengthrange": [4, 20] }, "confirm_pwd": { "required": true, "comparewith": [{ "fldname": "new_pwd", "operator": "eq" }] }, "btn_submit": { "required": false } }; frmPassword_validator_formatting = { "errordisplay": "afterfield", "summaryElementId": "" }; frmPassword_validator = $("#frmStrengthPassword").validation(frmPassword_validator_requirements, frmPassword_validator_formatting);
  //]]></script>
      </div>
    </div>
  </div>