<div class="data-side">
  <div class="box-head"><h3>Messages</h3></div>
  <div class="message-box-element">
    <div class="table-responsive">
      <div *ngIf="!showMsg" class="alert alert-primary noMsg">
        No Buyer Contacted You Yet!
      </div>
      <table class="table" *ngIf="showMsg">
        <tbody *ngFor="let message of messages">
          <tr
            *ngIf="message.sender == 'seller' || message.isReaded == 'true'"
            style="color:#d1c9ca"
          >
            <td>
              <figure *ngIf="message._id.image">
                <img src="http://{{ message._id.image }}" alt="profile" />
              </figure>
              <figure *ngIf="!message._id.image">
                <img src="./assets/img/users/THUMB" alt="profile" />
              </figure>
            </td>
            <td>
              <div class="list-message">
                <strong>{{ message._id.name }}</strong
                ><br />
                <!-- <strong>{{message.create_time}}</strong>  -->
              </div>
            </td>
            <td>
              <span *ngIf="message.sender == 'buyer'">Buyer:</span>
              <span *ngIf="message.sender == 'seller'">You:</span>
              <p>{{ message.message }}</p>
              <strong>{{ message.create_time }}</strong>
            </td>
            <td>
              <a
                [routerLink]="[
                  '../conversation/',
                  message._id._id,
                  message.productId
                ]"
                ><i class="fa fa-reply"></i
              ></a>
            </td>
          </tr>
          <tr *ngIf="message.sender == 'buyer' && message.isReaded == 'false'">
            <td>
              <figure *ngIf="message._id.image">
                <img src="http://{{ message._id.image }}" alt="profile" />
              </figure>
              <figure *ngIf="!message._id.image">
                <img src="./assets/img/users/THUMB" alt="profile" />
              </figure>
            </td>
            <td>
              <div class="list-message">
                <strong>{{ message._id.name }}</strong
                ><br />
                <!-- <strong>{{message.create_time}}</strong>  -->
              </div>
            </td>
            <td>
              <span *ngIf="message.sender == 'buyer'">Buyer:</span>
              <span *ngIf="message.sender == 'seller'">You:</span>
              <p>{{ message.message }}</p>
              <strong>{{ message.create_time }}</strong>
            </td>
            <td>
              <a
                [routerLink]="[
                  '../conversation/',
                  message._id._id,
                  message.productId
                ]"
                ><i class="fa fa-reply"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
