.data-side {
  vertical-align: top;
  display: table-cell;
  width: 1028px;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding-bottom: 20px;
}
.data-side h3 {
  padding: 0px 15px;
}
.message-box-element figure {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0px auto;
}
.message-box-element figure img {
  max-width: 100%;
}
.message-box-element table tr td {
  vertical-align: top;
}
.message-box-element table tr td:nth-child(1) {
  width: 10%;
}
.message-box-element table tr td:nth-child(2) {
  width: 20%;
}
.message-box-element table tr td:nth-child(3) {
  width: 60%;
}
.message-box-element table tr td a {
  width: 34px;
  height: 34px;
  line-height: 38px;
  border-radius: 100%;
  background: #ff3a59;
  display: inline-block;
  margin: 2px auto;
  text-align: center;
  padding: 0;
  vertical-align: top;
  color: #fff;
}
.noMsg {
  background: #ff3a59;
}
