<div id='loginpanel' class="bg-form">
  <div class="row">

    <div class="customer-login-form">

      <div class="backdrop" [ngStyle]="{'display':display}"></div>
      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title">Forget Password</h2>
            </div>

            <div class="modal-body clearfix">
              <form *ngIf="!cModal" #forgetPwd="ngForm" (ngSubmit)="forgetPwdForm(forgetPwd.value)" class="forgetPwd">
                <p class="before-login-text">

                </p>
                <p class="form-row form-row-wide" [class.has-error]="femailcontrol.invalid && femailcontrol.touched">
                  <label for="freg_email">Email address
                    <span class="required">*</span></label>
                  <input type="text" required class="input-text" name="femail" [(ngModel)]="femail" id="freg_email" value="" #femailcontrol="ngModel"
                  />
                  <span class="help-desk validation-error" *ngIf="femailcontrol.invalid && femailcontrol.touched"> Email address is Required.</span>
                </p>
                <p class="form-row form-btn">
                  <button type="submit" [disabled]="!forgetPwd.form.valid" class="btn btn-success">Submit</button>
                  <label for="CloseModal" class="inline">
                    <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                  </label>
                </p>
              </form>

              <form *ngIf="cModal" #updatePassword="ngForm" (ngSubmit)="updatePasswordForm(updatePassword.value)" class="updatePassword">
                <p class="before-login-text">

                </p>
                <p class="form-row form-row-wide">
                  <input type="hidden" name="femail" [(ngModel)]="femail" id="freg_email" />
                  <label for="freg_code">Confirmation Code
                    <span class="required">*</span></label>
                  <input type="text" required class="input-text" name="code" [(ngModel)]="code" id="freg_code" value="" ngModel />
                  <label for="freg_password">New Password
                    <span class="required">*</span></label>
                  <input type="password" required class="input-text" name="password" [(ngModel)]="password" id="freg_password" value="" ngModel
                  />
                </p>
                <p class="form-row form-btn">
                  <button type="submit" [disabled]="!updatePassword.form.valid" class="btn btn-success">Submit</button>
                  <label for="CloseModal" class="inline">
                    <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                  </label>
                </p>
                <p class="confirmation-recieve">Haven't received Confirmation code? <a (click)="cModalNull()">Click Here</a></p>
              </form>
            </div>
           

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal !-->

      <div class="buyer-login">
        <form role="form" novalidate #loginForm="ngForm">
          <fieldset>


            <hr class="colorgraph">

            <div class="tab-content">

              <div class="col-md-12">
                <h2>Please Sign In</h2>

                <form #login="ngForm" (ngSubmit)="saveLoginForm(login.value)" class="login">
                  <p class="before-login-text">
                    Welcome back ! Sign in to your account

                    <p class="form-row form-row-wide">
                      <label for="username">Username or email address<span class="required">*</span></label>
                      <input type="text" class="input-text" name="lemail" id="lreg_email" value="" [(ngModel)]="lemail" #lemailcontrol="ngModel"
                      />
                      <span class="help-desk validation-error" *ngIf="lemailcontrol.invalid && lemailcontrol.touched"> Username
                        or Email is Required.</span>
                    </p>

                    <p class="form-row form-row-wide" [class.has-error]="lpasswordcontrol.invalid && lpasswordcontrol.touched">
                      <label for="password">Password<span class="required">*</span></label>
                      <input class="input-text" type="password" name="lpassword" id="password" [(ngModel)]="lpassword" #lpasswordcontrol="ngModel"
                      />
                      <span class="help-desk validation-error" *ngIf="lpasswordcontrol.invalid && lpasswordcontrol.touched"> Password
                        is Required.</span>
                    </p>

                    <p class="form-row">
                      <input class="button" type="submit" value="Login" name="login">
                      <label for="rememberme" class="inline"><input name="rememberme" type="checkbox" id="rememberme" value="forever"
                        /> Remember me</label>
                    </p>

                    <p class="lost_password"><a (click)="openModal()">Lost your password?</a></p>


                </form>

              </div>


            </div>


            <hr class="colorgraph">

          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <!--div class="col-xs-12 col-sm-8 col-md-2"></div>
    <div class="col-xs-12 col-sm-8 col-md-4">
    <form role="form" novalidate #regForm="ngForm">
		<fieldset>
		  <h2>Please Sign Up Here</h2>
      <hr class="colorgraph">
		  <div class="form-group">
			<input autofocus type="text" name="name" #nameEle="ngModel" required [(ngModel)]="name" id="name" class="form-control" placeholder="Name">
      <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">* Please Enter Name</span>
    </div>
    <div class="form-group">
			<input autofocus type="email" name="email" #emailEle="ngModel" required [(ngModel)]="remail" id="email" class="form-control" placeholder="Email Address ">
      <span class='text-danger' *ngIf="emailEle.touched && emailEle.errors && emailEle.errors.required">* Please Enter Email </span>
    </div>
		  <div class="form-group">
			<input type="password" name="rpassword" id="rpassword" #rpasswordEle="ngModel" required [(ngModel)]="rpassword"  class="form-control" placeholder="Password" minlength="3">
		  <span class='text-danger' *ngIf="rpasswordEle.touched && rpasswordEle.errors && rpasswordEle.errors.required">* Please Enter Password</span>
		  <span class='text-danger' *ngIf="rpasswordEle.touched && rpasswordEle.errors && rpasswordEle.errors.minlength && !rpasswordEle.errors.required">* Please Enter atleast 3 Characters</span>
    </div>
		  <hr class="colorgraph">
		  <div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
			  <input type="button" [disabled]="!regForm.form.valid" (click)='doRegister()' class="btn btn-lg btn-primary btn-block" value="Sign Up">
			</div>
		  </div>
		</fieldset>
	  </form>
	</div-->
  
</div>