
    <body class="page home page-template-default">
      <div id="page" class="hfeed site">
          <div tabindex="-1" class="site-content" id="content">
              <div class="container">

                  <nav class="woocommerce-breadcrumb"><a [routerLink]="['/home']">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Wishlist</nav>
                  <div class="content-area" id="primary">
                      <main class="site-main" id="main">
                          <article class="page type-page status-publish hentry">
                              <div itemprop="mainContentOfPage" class="entry-content">
                                  <div id="yith-wcwl-messages"></div>
                                  <form class="woocommerce" method="post" id="yith-wcwl-form">

                                      <input type="hidden" value="68bc4ab99c" name="yith_wcwl_form_nonce" id="yith_wcwl_form_nonce"><input type="hidden" value="/electro/wishlist/" name="_wp_http_referer">
                                      <!-- TITLE -->
                                      <div class="wishlist-title ">
                                          <h2>My wishlist on Electro</h2>
                                      </div>

                                      <!-- WISHLIST TABLE -->
                                      <table data-token="" data-id="" data-page="1" data-per-page="5" data-pagination="no" class="shop_table cart wishlist_table">

                                          <thead>
                                              <tr>

                                                  <th class="product-remove"></th>

                                                  <th class="product-thumbnail"></th>

                                                  <th class="product-name">
                                                      <span class="nobr">Product Name</span>
                                                  </th>

                                                  <th class="product-price">
                                                      <span class="nobr">Unit Price</span>
                                                  </th>
                                                  <th class="product-stock-stauts">
                                                      <span class="nobr">Stock Status</span>
                                                  </th>

                                                  <th class="product-add-to-cart"></th>

                                              </tr>
                                          </thead>

                                          <tbody>
                                              <tr>
                                                  <td class="product-remove">
                                                      <div>
                                                          <a title="Remove this product" class="remove remove_from_wishlist" href="#">×</a>
                                                      </div>
                                                  </td>

                                                  <td class="product-thumbnail">
                                                      <a [routerLink]="['/single-product']"><img width="180" height="180" alt="1" class="wp-post-image" src="assets/images/products/2.jpg"></a>
                                                  </td>

                                                  <td class="product-name">
                                                      <a [routerLink]="['/single-product']">White Solo 2 Wireless</a>
                                                  </td>

                                                  <td class="product-price">
                                                      <span class="electro-price"><span class="amount">$248.99</span></span>
                                                  </td>

                                                  <td class="product-stock-status">
                                                      <span class="in-stock">In stock</span>
                                                  </td>

                                                  <td class="product-add-to-cart">
                                                      <!-- Date added -->

                                                      <!-- Add to cart button -->
                                                      <a href="#" class="button"> Add to Cart</a>
                                                      <!-- Change wishlist -->

                                                      <!-- Remove from wishlist -->
                                                  </td>
                                              </tr>
                                              <tr>

                                                  <td class="product-remove">
                                                      <div>
                                                          <a title="Remove this product" class="remove remove_from_wishlist" href="#">×</a>
                                                      </div>
                                                  </td>

                                                  <td class="product-thumbnail">
                                                      <a [routerLink]="['/single-product']"><img width="180" height="180" alt="Ultrabooks" class="wp-post-image" src="assets/images/products/3.jpg"></a>
                                                  </td>

                                                  <td class="product-name">
                                                      <a [routerLink]="['/single-product']">Tablet Red EliteBook  Revolve 810 G2</a>
                                                  </td>

                                                  <td class="product-price">
                                                      <span class="electro-price"><span class="amount">$1200.00</span></span>
                                                  </td>

                                                  <td class="product-stock-status">
                                                      <span class="in-stock">In stock</span>
                                                  </td>

                                                  <td class="product-add-to-cart">
                                                      <!-- Date added -->

                                                      <!-- Add to cart button -->

                                                      <a href="#" class="button"> Add to Cart</a>
                                                      <!-- Change wishlist -->

                                                      <!-- Remove from wishlist -->
                                                  </td>
                                              </tr>
                                              <tr >

                                                  <td class="product-remove">
                                                      <div>
                                                          <a title="Remove this product" class="remove remove_from_wishlist" href="#">×</a>
                                                      </div>
                                                  </td>

                                                  <td class="product-thumbnail">
                                                      <a [routerLink]="['/single-product']"><img width="180" height="180" alt="GameStation" class=" wp-post-image" src="assets/images/products/1.jpg"></a>
                                                  </td>

                                                  <td class="product-name">
                                                      <a [routerLink]="['/single-product']">GameConsole Destiny  Special Edition</a>
                                                  </td>

                                                  <td class="product-price">
                                                      <span class="electro-price"><span class="amount">$789.00</span></span>
                                                  </td>

                                                  <td class="product-stock-status">
                                                      <span class="in-stock">In stock</span>
                                                  </td>

                                                  <td class="product-add-to-cart">
                                                      <!-- Date added -->

                                                      <!-- Add to cart button -->
                                                      <a href="#" class="button"> Add to Cart</a>
                                                      <!-- Change wishlist -->

                                                      <!-- Remove from wishlist -->
                                                  </td>
                                              </tr>
                                          </tbody>

                                          <tfoot>
                                              <tr>
                                                  <td colspan="6"></td>
                                              </tr>
                                          </tfoot>

                                      </table>

                                      <input type="hidden" value="85fe311a9d" name="yith_wcwl_edit_wishlist" id="yith_wcwl_edit_wishlist"><input type="hidden" value="/electro/wishlist/" name="_wp_http_referer">

                                  </form>

                              </div><!-- .entry-content -->

                          </article><!-- #post-## -->

                      </main><!-- #main -->
                  </div><!-- #primary -->
              </div><!-- .col-full -->
          </div>

          <section class="brands-carousel">
            <h2 class="sr-only">Brands Carousel</h2>
            <div class="container">
              <div id="owl-brands" class="owl-brands owl-carousel unicase-owl-carousel owl-outer-nav">

                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Acer</h4>
                        </div><!-- /.info -->
                      </figcaption>

                       <img src="assets/images/blank.gif" data-echo="assets/images/brands/1.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Apple</h4>
                        </div><!-- /.info -->
                      </figcaption>

                       <img src="assets/images/blank.gif" data-echo="assets/images/brands/2.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Asus</h4>
                        </div><!-- /.info -->
                      </figcaption>

                       <img src="assets/images/blank.gif" data-echo="assets/images/brands/3.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Dell</h4>
                        </div><!-- /.info -->
                      </figcaption>

                      <img src="assets/images/blank.gif" data-echo="assets/images/brands/4.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Gionee</h4>
                        </div><!-- /.info -->
                      </figcaption>

                      <img src="assets/images/blank.gif" data-echo="assets/images/brands/5.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>HP</h4>
                        </div><!-- /.info -->
                      </figcaption>

                      <img src="assets/images/blank.gif" data-echo="assets/images/brands/6.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>HTC</h4>
                        </div><!-- /.info -->
                      </figcaption>

                      <img src="assets/images/blank.gif" data-echo="assets/images/brands/3.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>IBM</h4>
                        </div><!-- /.info -->
                      </figcaption>

                      <img src="assets/images/blank.gif" data-echo="assets/images/brands/5.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Lenova</h4>
                        </div><!-- /.info -->
                      </figcaption>

                      <img src="assets/images/blank.gif" data-echo="assets/images/brands/2.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>LG</h4>
                        </div><!-- /.info -->
                      </figcaption>

                      <img src="assets/images/blank.gif" data-echo="assets/images/brands/1.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Micromax</h4>
                        </div><!-- /.info -->
                      </figcaption>

                      <img src="assets/images/blank.gif" data-echo="assets/images/brands/6.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


                <div class="item">

                  <a href="#">

                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Microsoft</h4>
                        </div><!-- /.info -->
                      </figcaption>

                      <img src="assets/images/blank.gif" data-echo="assets/images/brands/4.png" class="img-responsive" alt="">

                    </figure>
                  </a>
                </div><!-- /.item -->


              </div><!-- /.owl-carousel -->

            </div>
          </section>
      </div><!-- #page -->
  </body>
