<footer id="content-footer">
	<div class="row">
		<div class="col-md-12 text-center">
			<span class="footer-legal">© 2016 All rights reserved. <a href="#">Terms of use</a> and <a href="#">Privacy policy</a></span>
		</div>
	</div>
</footer>
