<div class="data-side">
    <h3>Order Id: {{orderId}}</h3>
    <div class="space-lft-right">
  
      <div class="wrapform">
        <div class="card">
          <div class="sectionbody" id="users-list">
           
              <div class="col-xs-12">
  
  
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Your Order Details</h3>
                      </div>
                      <div class="panel-body" *ngFor="let order of currProduct; let i=index">
                        <div class="row">
                         
                          <div>
                              <div>
                                  <!-- <img src="{{mainImg}}" class='img-responsive img-thumbnail'> -->
                                  <span class="text-center" style="display: inline-block;width:80px">
                                    <img
                                      src="{{ environment.serverurl }}{{ order.product_id.mainImage }}"
                                      class="img-responsive img-thumbnail"
                                      style="height:80px;width:80px;"
                                    /><br />
                                    <!-- <a (click)="openChangeImage()"><i class='fa fa-edit'></i></a> -->
                                  </span>
                                  <!--
                                    <span *ngFor="let img of currProduct.images; let i = index" class='text-center' style="display: inline-block;width:80px">
                                      <img src="http://{{img}}" class='img-responsive img-thumbnail' style="height:80px;width:80px;" (click)="showMain(img)"><br>
                                      <a (click)="openDeleteImage(i)"><i class='fa fa-trash'></i></a>
                                    </span>
                                    <span class='text-center' style="display: inline-block;width:80px">
                                      <i (click)="openAddImage()" class='fa fa-plus fa-5x img-thumbnail text-primary' style="display:block;height:80px"></i>
                                      <a style="visibility:hidden"><i class='fa fa-plus'></i></a>
                                    </span>
                                  -->
                                </div>
                            <table class="table btn-gradient-grey">
                              <tr>
                                <td>Name</td>
                                <td>{{ order.product_id.name }}</td>
                              </tr>
                              <!-- <tr>
                                <td>Category</td>
                                <td>{{ currProduct.category }}</td>
                              </tr> -->
                              <tr>
                                <td>Price</td>
                                <td>
                                  &#x20B9;{{ order.product_id.dprice }}
                                  <del>&#x20B9;{{ order.product_id.aprice }}</del>
                                </td>
                              </tr>
                              <tr>
                                <td>Description</td>
                                <td>{{ order.product_id.description }}</td>
                              </tr>
                    
                              <tr>
                                <td>Quantity</td>
                                <td>
                                  <span>{{ order.quantity }} &nbsp;&nbsp;</span>
                                </td>
                              </tr>
                              <tr></tr>
                              <tr>
                                <td>Quantity Type</td>
                                <td>
                                  <span>{{ order.product_id.quantityType }} &nbsp;&nbsp;</span>
                                </td>
                              </tr>
                              <tr></tr>
                              <tr>
                                <td>Size</td>
                                <td>
                                    <span>{{ order.size }} &nbsp;&nbsp;</span>
                                </td>
                              </tr>
                              <tr>
                                 
                                <td>Color</td>
                                <td>
                                    <span
                                    style="width: 80px;display: inline-block; margin: 0 10px;" [ngStyle]="{'background-color':order.color}">&nbsp;</span>
                                </td>
                              </tr>
                              <!-- <tr>
                                <td>Services</td>
                                <td>
                                  <ul class="list">
                                    <li *ngFor="let ele of currProduct.service">{{ ele }}</li>
                                  </ul>
                                </td>
                              </tr> -->
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
  
                </div>
            
          </div>
        </div>
      </div>
  
  
    </div>
  </div>
  
  
  
      
     
      
      
  
  
  