<div id='loginpanel'>
  <div class="row" style="margin-top:20px">
	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
	<div *ngIf="emailDiv">
    <form role="form" novalidate #forgetForm="ngForm">
		<fieldset>
		  <h2>Please Enter Email Address</h2>
		  <div class="form-group">
			<input autofocus type="email" name="email" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #emailEle="ngModel" required [(ngModel)]="email" id="email" class="form-control" placeholder="Email Address">
			<span class='text-danger' *ngIf="emailEle.touched && emailEle.errors && emailEle.errors.pattern">* Please Enter Valid Email Address</span>
			<br>
			<input type="button" [disabled]="!forgetForm.form.valid" (click)='checkEmail()' class="btn btn-lg btn-primary btn-block" value="Submit">
		  </div>
		</fieldset>
	  </form>

	</div>

	<div *ngIf="codeDiv">
    <form role="form" novalidate #codeForm="ngForm">
		<fieldset>
		  <h2>Please Enter Code</h2>
		  <div class="form-group">
			<input autofocus type="code" name="code"  #codeEle="ngModel" required [(ngModel)]="code" id="code" class="form-control" placeholder="Secret Code">
			<span class='text-danger' *ngIf="codeEle.touched && codeEle.errors && codeEle.errors.required">* Please Enter Code</span>
			<br>
			<input type="button" [disabled]="!codeForm.form.valid" (click)='checkCode()' class="btn btn-lg btn-primary btn-block" value="Submit">
		  </div>
		</fieldset>
	  </form>

	</div>

	<div *ngIf="passwordDiv">
    <form role="form" novalidate #codeForm="ngForm">
	 <h2>Please Enter New Password</h2>
     <div class="form-group">
        <label for="exampleInputEmail1">New Password</label>
        <input class="form-control" id="npass" #npass="ngModel" name="npass" [(ngModel)]="newPassword" placeholder="Enter New Password" type="password" required minlength="3">
        <span class='text-danger' *ngIf="npass.touched && npass.errors && npass.errors.required">* Please Enter New Password</span>
        <span class='text-danger' *ngIf="npass.touched && npass.errors && npass.errors.minlength">* New Password must be atleat 3 characters</span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Confirm New Password</label>
        <input class="form-control" id="cpass" #cpass="ngModel" name="cpass" [(ngModel)]="conPassword" placeholder="Enter Confirm Password" type="password" required minlength="3">
        <span class='text-danger' *ngIf="cpass.touched && cpass.errors && cpass.errors.required">* Please Enter Confirm Password</span>
        <span class='text-danger' *ngIf="cpass.touched && cpass.errors && cpass.errors.minlength">*Confirm Password must be atleat 3 characters</span>
      </div>
	  <input type="button" [disabled]="!codeForm.form.valid" (click)='updatePassword()' class="btn btn-lg btn-primary btn-block" value="Submit">
	  </form>

	</div>





	</div>
  </div>
</div>

